@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Tipo de letra */
.rubik-variable {
    font-family: "Rubik";
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}


/* Estilos de etiquetas  */
* {
    font-family: 'Rubik';
}

main {
    justify-items: center;
}

header {
    justify-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

a {
    color: #ad169f;
    font-weight: 600;
}

a:link {
    color: #ad169f;
}

a:hover {
    color: #3b3b3e;
}

cite {
    color: #bcbcbc;
}

input,
textarea {
    border-radius: 15px;
    border: 1px solid #3b3b3e;
    padding: 10px;
    font-size: medium;
}

footer {
    padding: 20px;
    font-weight: 600;
}


/* Estilos por clases */
.logo {
    border-radius: 35px;
    width: 60px;
}

.nav-header {
    border: 3px, solid, #3b3b3e;
    padding: 20px;
    margin-bottom: -10px;
}

.nav li {
    display: inline-flex;
    width: 100px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 120px;
    margin: 25px;
    width: 75%;
}

.projects {
    font-size: large;
    font-weight: 600;
}

.experience p {
    margin-top: -15px;
}

.opensource {
    margin-top: 15%;
}

.opensource p {
    margin-top: -15px;
}

.education h2 {
    margin-bottom: 35px;
}

.education p {
    margin-top: -15px;
}

.reviews {
    margin: 50px;
    width: 69%;
    justify-content: space-around;
}

.reviews div {
    display: inline-flex;
    justify-content: space-between;
    gap: 20px;
}

.reviews div div {
    background-color: #FFFAFA;
    justify-content: center;
    border: 2px solid #3b3b3e;
    border-radius: 30px;
    display: grid;
    padding: 0 15px 10px 20px;
}

.pro-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 50px;
}

.pro-container div {
    border: 2px solid #3b3b3e;
    ;
    border-radius: 20px;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-color: #FFFAFA;
}

.pro-container div:hover {
    background: #000000;
    background: linear-gradient(169deg, rgba(0, 0, 0, 1) 0%, rgba(173, 22, 159, 1) 48%, rgba(240, 201, 237, 1) 100%);
    color: white;
    transform: scale(1.05);
    /* Aumenta el tamaño al 120% al pasar el cursor */
    transition: transform 0.3s ease;
    /* Transición suave */
    border: 3px solid #3b3b3e;
}

.title {
    margin: 50px 0 0 0;
}

.link a:link {
    color: #3b3b3e;
}

.form {
    width: 1000px;
    border: 2px solid #3b3b3e;
    border-radius: 35px;
    margin: 50px;
}

.form-div {
    display: grid;
    margin: 50px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.button button {
    color: white;
    background: rgba(173, 22, 159, 1);
    font-size: large;
    font-weight: 600;
    border: 2px solid #3b3b3e;
    border-radius: 35px;
    width: 15%;
    height: 30px;
}

.button button:hover {
    background: #000000;
    background: linear-gradient(169deg, rgba(0, 0, 0, 1) 0%, rgba(173, 22, 159, 1) 48%, rgba(240, 201, 237, 1) 100%);
}