body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    justify-items: center;
}

.logo {
    border-radius: 35px;
    width: 60px;
}

.nav-header {
    border: 2px, solid, #3b3b3e;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    display: flexbox;
    width: 60%;
}

nav {
    display: flex;
    justify-content: space-between;

}

nav ul {
    margin: -0px;
}

a:link {
    color: #ad169f;
}

a:hover {

    color: #3b3b3e;
}

header {
    justify-items: center;
}

.nav li {
    display: inline-flex;
    align-items: start;
    font-weight: bold;
}

main {
    justify-items: center;
}

.content {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%; */
    width: 60%;
    display: flex;
    justify-content: space-around;
    
}
